<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test1.Properties.Settings.MyFirstDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-8KN1OOC\TENITASQL;Initial Catalog=MyFirstDatabase;User ID=sa;Password=20003030"
            providerName="System.Data.SqlClient" />
        <add name="Test1.Properties.Settings.CRAMAConnectionString" connectionString="Data Source=DESKTOP-8KN1OOC\TENITASQL;Initial Catalog=CRAMA;User ID=sa;Password=20003030"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>